body
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none !important;
}
ul
{
    height: 54px !important;
}
.tox-tinymce
{
    border-radius: 10px;
}
cite
{
    font-style: normal;
}
#bg3
{
    height: 300px;
}
p
{
    font-size: 20px;
}
#divMore
{
    height: 150px;
    overflow: hidden;
}
#more
{
    display: none;
}
#author2
{
    height: 100px; 
    width: 100px; 
}
#author2Connexion
{
    height: 80px; 
    width: 80px; 
    border-radius: 50%;
}
#inputContainer
{
    margin-bottom: -1px;
}
#emailInput
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#passwordInput
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;  
}

#bg1_background
{
    height: 600px; 
    opacity: 0.6;
}
#bg4
{
    height: 350px;
    width: 100%;
}
#section1_content
{
    height: 600px;
}
#blackBackground
{
    background-color: black;
}
#signature
{
    width: 200px;
    height: 150px;
}
#auteurSection
{
    height: 200px;

}
#section1, #connexionSection
{
    height: 600px;
    margin-top: 55px;
}
#contactSection
{
    height: 700px;
}
textarea
{
    height: 200px !important;
}
section
{
    height: inherit;
    max-width: 1500px;
    margin-top: 56px;
}
footer
{
    width: 100%; 
    max-width: 1500px; 
    margin: auto; 
    height: inherit;
}
li
{
    list-style: none;
}
li:hover
{
    background-color: lightgrey;
}
span
{
    font-size: 20px;
}
#date
{
    float: right;
    font-size: 13px;
}
#quoteSection, #imgContent, #imgSection3
{
    height: 350px;
    margin-top: 0;
}
#imgSection3
{
    opacity: 0.4;
}
#connexionContent
{
    height: 400px;
}
#imgContent
{
    background-color: black;
}
#imgSection3Container
{
    position: relative;
}
#quoteContainer
{ 
    z-index: 2;
}
#slider
{
    width: 500%;
}
#section3
{
    height: 500px;
}
h2
{
    font-size: 40px !important;
}
h3
{
    font-size: 18px;
}
blockquote
{
    font-style: italic; 
    font-size: 20px;
}
.sliderImg
{
    width: 150px; 
    height: 230px;
}
#btnLeftBook, #btnRightBook, #btnLeft, #btnRight
{
    width: 50px;
    cursor: pointer;
    text-decoration: none;
}
i
{
    font-size: 50px;
}
h4 i
{
    font-size: 15px;
}
.sliderImg
{
    transition: ease 1s;
}
.sliderImg:hover
{
    transform: scale(1.1);
}
#media, #commentMedia
{
    transition: ease 0.5s;
}
#media
{
    box-shadow: 0px 0px 10px grey;
}
#media:hover
{
    box-shadow: 20px 20px 20px grey;
}
#commentMedia
{
   box-shadow: 0px 0px 5px grey;
}
#commentMedia:hover
{
    box-shadow: 10px 10px 10px grey;
}

#facebook, #instagram, #twitter, #sign_out
{
    font-size: 20px;
}
#bookSlider
{
    height: 300px;
}
#prgrphFooter
{
    font-size: 15px;
}
form
{
    flex-basis: auto !important;
}
#smartphone_Button
{
    display: none;
}
@media all and (max-width: 700px)
{
    #connexionSection
    {
        margin-top: 25px !important;
    }
    #section1
    {
        margin-top: 60px;
    }
    #smartphone_Button
    {
    display: block;
    }
    #bg4
    {
    width: 100% !important;
    }
    h2
    {
    font-size: 25px !important;
    }
    h1
    {
        text-align: center;
    }
    #bg4
    {
    height: 400px;
    width: 100%;
    }
    h3
    {
    font-size: 20px !important;
    }
    #bookRow
    {
        width: 240px;
    }
    #headline
    {
        display: none;
        text-align: center;
    }
    #bookContainer
    {
        width: 200px;
    }
    #imgSection3, #imgContent, #quoteSection, #section3
    {
        height: 500px;
        margin-top: 0;
    }
    #section2
    {
        height: 720px;
        margin-top: 0px;
    }
    #prgrphFooter
    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }
    #aPropos, #nomAuteur, #bio
    {
        text-align: center;
    }
    #info
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #overlay
    {
    width: 70%; 
    height: 100%; 
    transform: translateX(-100%); 
    z-index: 5; 
    background-color: white;
    }
    #prgrphFooter
    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }
    #aPropos, #nomAuteur, #bio
    {
        text-align: center;
    }
    #info
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #overlay
    {
    width: 70%; 
    height: 100%; 
    transform: translateX(-100%); 
    z-index: 5; 
    background-color: white;
    border-right: solid black 1px;
    }
    #toggler
    {
        font-size: 25px;
    }
    #btnQuotes
    {
        width: 200px;
    }
    #desktop_button
    {
        display: none !important;
    }
    #lll
    {
        margin-top: 20px;
    }
    h4 
    {
        
        margin-top: 15px !important;
    }
    #media img
    {
        margin: 0px !important;
        width: 100% !important;
    }
    
    .media-body a
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    #img-container, #chapter_img
    {
        height: 200px !important;
        border-radius: 0px !important;
    }
    #author_name, #chapter_date
    {
        font-size: 10px !important;

    }
    #author_name
    {
         margin-left: 15px !important;
    }
    #name
    {
        font-size: 15px;
    }
    #description
    {
        font-size: 14px;
    }
    cite
    {
        font-size: 2rem;
    }

}

